body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Side navigation */
.home-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #3E96A9;
  height: 100vh;
  width: 200px; 
  position: fixed; 
  top: 0; 
  left: 0; 
  display: flex;
  flex-direction: column;
}

.home-ll {
  display: block;
}

.home-ll h1 {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.home-ll h1:hover {
  background-color: #ddd;
  color: black;
}

/* Main content */
.tasks-container {
  display: flex;
  margin-left: 200px;
}

.tasks-content {
  margin-left: 200px;
  padding: 20px;
  width: calc(100% - 200px);
  position: relative;
}

.tasks-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.search-input {
  padding: 8px;
  border: 1px solid #ccc;
  margin-top: 20px;
  border-radius: 4px;
  width: 200px;
  margin-bottom: 20px;
}

.download-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  position: absolute;
  top: 10;
  right: 0;
 
}

.download-btn:hover {
  background-color: #0056b3;
}

.task-table {
  width: 100%;
  border-collapse: collapse;
}

.task-table th, .task-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.task-table th {
  background-color: #f2f2f2;
}

.task-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.task-table tr:hover {
  background-color: #ddd;
}

.btn {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
}

.update-btn {
  background-color: #4CAF50;
  color: white;
}

.delete-btn {
  background-color: #f44336;
  color: white;
}

.add-btn {
  background-color: #4CAF50;
  color: white;
  margin-left: 900px;
}
.Task-search{
  background-color: #4CAF50;
  color: white;
  height: 35px;
  width: 60px;
  border:none;
  margin-left: 10px;
  font-weight: bold;
  font-size: 15px;
  border-radius: 5px;
}
.report-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
}

.report-header {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.report-subheader {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.report-table {
  width: 100%;
  border-collapse: collapse;
}

.report-table th, .report-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.report-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.report-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.report-table tr:hover {
  background-color: #e0e0e0;
}

.btn:hover {
  background-color: #0056b3;
}

