.AppointmentContainer {
    max-width: 550px;
    margin: 5px;
    padding: 30px;
    border: 1px solid #000000;
    border-radius: 8px;
}

.AppointmentContainer h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    margin-left: 20px;
    color: #89CFF0;
}

.AppointmentContainer form {
    display: flex;
    flex-direction: column;
}

.AppointmntContainer label {
    margin-bottom: 5px;
    font-weight: bolder;
    font-size: 18px;
}

.AppointmentContainer input[type="text"],
.AppointmentContainer input[type="date"],
.AppointmentContainer textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 7px;
    margin-bottom: -20px;
    font-size: 14px;
    font-family: sans-serif;
}

.AppointmentContainer textarea {
    resize: none;
    margin-top: -12px;
}

.AppointmentContainer button[type="submit"] {
    padding: 10px 20px;
    background-color: #4682B4;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    width: 40%;
    margin-left: 140px;
    margin-top: 20px;
}

.AppointmentContainer button[type="submit"]:hover {
    background-color: #4682B4;
    font-size: 18px;
}
