.healthRecordFormContainer {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.healthRecordFormContainer h2 {
    margin-bottom: 20px;
    margin-left: 45px;
}

.formGroup {
    margin-bottom: 20px;
}

.formGroup label {
    display: block;
    margin-bottom: 5px;
}

.formGroup input[type="text"],
.formGroup input[type="date"],
.formGroup textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.formGroup textarea {
    height: 100px;
}

.error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.addHealthrecordButton {
    background-color: #176B87;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
}

.addHealthrecordButton:hover {
    background-color: #86B6F6;
    color: #000000;
}

.note{
    resize: none;
}

Input.TextArea{
    resize: none;
}

TextArea{
    resize: none;
}

.updateButton{
    background-color: #176B87;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
}

.updateButton:hover {
    background-color: #86B6F6;
    color: #000000;
}