.add-task-container {
    max-width: 500px;
    padding: 20px;
    margin-left: 500px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    margin-top: 100px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);


}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 8px;
}

.input-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.input-group input:focus {
    outline: none;
    border-color: #4CAF50; 
}

.submit-btn {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    background-color: #4CAF50; 
    color: white;
}

.submit-btn:hover {
    background-color: #45a049; 
}
